<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="add-task-menu">
    <div class="d-grid gap-3 col-6 mx-auto p-3">
        <button class="btn btn-primary" type="button" id="toggle-tasks">
            Add task </button>
    </div>
    <div class="container" id="error-add-task">
    </div>
    <form id='add-task' onsubmit="return false;">
        <div class="form-group p-1">
            <label for="taskName">Task: </label>
            <input type="text" maxlength="80" class="form-control" id="taskName" required>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="form-group">
                    <label for="category"> Select task category: </label>
                    <select class="form-control" id="category" required>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="datepicker"> Date: </label>
                    <br>
                    <input type="text" class="form-control" id="datepicker" required>
                </div>
            </div>
        </div>
        <div class="md-form blue-textarea active-blue-textarea p-2">
            <label for="description"> Description: </label>
            <textarea class="form-control" maxlength="1024" id="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="button"> Submit </button>
    </form>
    <div class="modal fade" id="editTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl  modal-dialog-centered  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <form id='edit-task' onsubmit="return false;">
                        <div class="container" id="error-edit-task"> </div>
                        <div class="form-group p-1">
                            <label for="editTaskName">Task: </label>
                            <input type="text" maxlength="80" class="form-control" id="editTaskName" required>
                        </div>

                        <div class="row p-2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="editCategory"> Select task category: </label>
                                    <select class="form-control" id="editCategory">
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="editDatepicker"> Date: </label>
                                    <br>
                                    <input type="text" class="form-control" id="editDatepicker" required>
                                </div>
                            </div>
                        </div>
                        <div class="md-form blue-textarea active-blue-textarea p-2">
                            <label for="editDescription"> Description: </label>
                            <textarea class="form-control" id="editDescription" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="editButton"> Save </button>
                    </form>
                </div>
                <div class="modal-footer">
                        <button type="button" class="md-4 btn btn-secondary" id="closeEditTask" data-bs-dismiss="modal">Close</button>
<!--                    <button id='saveButton' type="button" class="btn btn-primary"> Save </button>-->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/error_handler.js}"></script>    <!--</html>-->

    <script>
        jQuery(document).ready(function() {
            $('#add-task').toggle()
            updateCategories('#category')
        });

        $('#toggle-tasks').click(function (){
            toggleAddTask()
        })

        function toggleAddTask(){
            $('#add-task').toggle('slow')
        }

        $( function() {
            $( "#datepicker" ).datepicker(
                {
                    // minDate: 0,
                    dateFormat: 'dd-mm-yy',
                }
            ).datepicker("setDate", "now");
        } );

        $(function() {
            $( "#editDatepicker" ).datepicker(
                {
                    minDate: 0,
                    dateFormat: 'dd-mm-yy'
                }
            );
        } );

        function updateCategories(selectID){
            $(selectID).empty()
            $.ajax({
                type: 'GET',
                url: '/categories/names',
                success: function (data) {
                    data.forEach(function(category){
                        $(selectID).append(new Option(category))
                    })
                }
            })
        }

        function addTaskRequest(successFun) {
            $.ajax({
                type: 'POST',
                url: '/tasks/add',
                datatype: 'json',
                data: JSON.stringify({
                        name: $('#taskName').val(),
                        description: $('#description').val(),
                        category: $('#category').val(),
                        date: $('#datepicker').val(),
                        completed: false
                    }
                ), beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success:function(){
                    successFun()
                    $('#error-add-task').empty()
                },
                error: function (xhr, status, error){
                    showErrors(xhr, '#error-add-task')
                }
            })
        }

        function addTaskToView(task, listID, showTasksFun, dateBadge=""){
            $(`#${listID}`).append(createTaskView(task, dateBadge))
            $('#' + task.id).click(function(){
                $('#edit-task').val(task.id)
                $('#error-add-task').empty()
                updateViewModalFields(task)
            })
            $(`#rm${task.id}`).click(function (){
                handleDeleteTask(task, showTasksFun)})
            $(`#check${task.id}`).change(function (){
                console.log('checked change')
                if(this.checked){
                    task.completed = true
                    console.log("checked true")
                    updateTaskRequest(task, showTasksFun)
                } else{
                    task.completed = false
                    console.log("checked false")
                    updateTaskRequest(task, showTasksFun)
                }
            })

        }

        function createTaskView(task, dateBadge){
            var checked = ""
            if(task.completed){
                checked = "checked"
            }

            return ' <li id=\"task' + task.id +'\" class="list-group-item d-flex align-items-center border-0 mb-2 rounded"\n' +
                '            style="background-color: #f4f6f7;">\n' +
                '                <div class="col-auto">\n' +
                '                    <input id="check' + task.id + '" class="form-check-input me-2" type="checkbox" value="" aria-label="..."  aria-checked="true" ' + checked + '/>\n' +
                '                    <label>' + task.name + '</label >\n' +
                '                </div>\n' +
                dateBadge +
                '                <div class="ms-auto col-auto">\n' +
                '                    <span  style="font-size:12px;" class="badge bg-secondary"> ' + task.category + '</span>\n' +
                '                </div>\n' +
                '                <div class="offset-1 col-auto">\n' +
                '                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editTask"\n' +
                '                            id="' + task.id + '" value="' + task.id + '"> View/Edit </button>\n' +
                '                </div>\n' +
                '<div class="p-2 col-auto">\n' +
                '                    <button type="button" class="btn btn-outline-danger btn-sm" \n' +
                '                            id="rm' + task.id + '" value="' + task.id + '"> Delete </button>\n' +
                '                </div>\n' +
                '        </li>'
        }

        function submitEditHandler(showTasksFun){
            let formValue = $('#edit-task').val()
            console.log(formValue)

            console.log("Handle update task")
            getTasksByID(formValue, showTasksFun)
        }

        function getTasksByID(id, showTasksFun){
            $.ajax({
                type: 'GET',
                url: '/tasks/get/' + id,
                success: function (task) {
                    task.name = $('#editTaskName').val()
                    task.description = $('#editDescription').val()
                    task.category =$('#editCategory').val()
                    task.date =  $('#editDatepicker').val()
                    updateTaskRequest(task, showTasksFun)
                }
            })
        }

        function updateViewModalFields(task){
            updateCategories('#editCategory')
            $('#editTaskName').val(task.name)
            $('#editCategory').val(task.category)
            $('#editDatepicker').val(task.date)
            $('#editDescription').val(task.description)
        }

        function updateTaskRequest(task, successFun){
            let updatedTask = JSON.stringify({
                id: task.id,
                name: task.name,
                description: task.description,
                completed: task.completed,
                category: task.category,
                date: task.date
            })
            $.ajax({
                type: 'PUT',
                url: '/tasks/update/',
                datatype: 'json',
                data: updatedTask,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success:function (){
                    successFun()
                    $('#error-edit-task').empty()
                    $('#closeEditTask').click()
                    $('#edit-task')[0].reset()
                },
                error:  function (xhr, status, error){
                    showErrors(xhr, '#error-edit-task')
                }
            })
        }


        function handleDeleteTask(task, successFun) {
            $.ajax({
                type: 'DELETE',
                url: '/tasks/delete',
                datatype: 'json',
                data: JSON.stringify({
                        id: task.id,
                        name: task.name,
                        description: task.description,
                        category: task.category,
                        date: task.date
                    }
                ), beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (){
                    successFun()
                }
            })
        }

    </script>
</div>
</body>
</html>