<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>
<body>

<div layout:include="layouts/sidebar :: sidebar" th:remove="tag">
    <div layout:fragment="page-content">
        <div th:include="fragments/category-fragment :: add-category-menu"> </div>

        <div class="modal fade" id="confirm-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl  modal-dialog-centered  modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure you want to delete this task?</h5>
                    </div>
                    <div class="modal-footer">
                        <button id="confirmDeleteBtn" type="button" class="btn btn-primary"> Yes </button>
                        <button type="button" class="md-4 btn btn-secondary" id="cancelDeleteBtn" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h2> Categories: </h2>
        <ul id="categories">
        </ul>

        <script>
            jQuery(document).ready(function() {
                console.log('ready')
                showCategories()
            });

            $('#add-category').submit(function(e){
                e.preventDefault()
                addCategoryRequest(function(){
                    showCategories()
                    $('#add-category')[0].reset()
                })
            })

            function showCategories(){
                $('#categories').empty()
                $.ajax({
                    type: 'GET',
                    url: '/categories/show-categories',
                    success: function (data) {
                        console.log(data)
                        addCategoriesView(data)
                    }
                })
            }

            function addCategoriesView(categories){
                categories.forEach(function (category){
                    addCategoryToView(category)
                })
            }

            function addCategoryToView(category){
                $('#categories').append(createCategoryView(category))
                $('#rm' + category.id).click(function (){
                    $('#confirmDeleteBtn').val(task.id)
                })


            }

            function handleDeleteCategory(categoryID) {
                $.ajax({
                    type: 'DELETE',
                    url: '/categories/delete',
                    datatype: 'json',
                    data: categoryID,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (){
                        showCategories()
                        $('#cancelDeleteBtn').click()
                    }
                })
            }

            function createCategoryView(category){
                return ' <li id=\"category' + category.id +'\" class="list-group-item d-flex align-items-center border-0 mb-2 rounded"\n' +
                    '            style="background-color: #f4f6f7;">\n' +
                    '                <div class="col-auto">\n' +
                    '                    <label>' + category.name + '</label >\n' +
                    '                </div>\n' +
                    '                <div class="ms-auto col-auto">\n' +
                    '<a class="btn btn-primary btn-lg btn-sm"  href="categories/' + category.id + '" role="button"> View </a>' +
                    '                </div>\n' +
                    '<div class="col-auto p-2">\n' +
                    '                    <button type="button" class="btn btn-outline-danger btn-sm" \n' +
                    '                            id="rm' + category.id + '" value="' + category.id + '"> Delete </button>\n' +
                    '                </div>\n' +
                    '        </li>'
            }

            $('#confirmDeleteBtn').click(function (){
                handleDeleteCategory($('#confirmDeleteBtn').val(), showCategories)
            })

        </script>
    </div>
</div>
</body>
</html>