<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <title> Register</title>
</head>
<body class="h-screen">
<div class="align-items-center">
    <div class="container" id="errors-container"> </div>
</div>
<div class="container mx-auto h-full flex justify-center items-center text-blue-700 px-4">
    <div class="md:w-1/3 shadow-xl rounded-2xl border bg-blue-100 w-full">
        <h1 class="text-center font-medium text-2xl text-white rounded-t-2xl bg-blue-500 py-4">Register</h1>
        <form id="register" class="border-teal p-4 border-t-12 bg-white mb-6">
            <div class="mb-4">
                <label for="email" class="font-bold text-lg block mb-2">Email</label>
                <input id="email" type="text" name="email" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                       placeholder="Your email">
            </div>

            <div class="mb-4">
                <label for="fullname" class="font-bold text-lg block mb-2">Full name</label>
                <input id="fullname" type="text" name="fullname" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                       placeholder="Your full name">
            </div>

            <div class="mb-4">
                <label for="password" class="font-bold text-lg block mb-2">Password</label>
                <input id="password" type="password" name="password" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                       placeholder="Your Password">
            </div>
            <div class="flex items-center justify-between">
                <input class="bg-blue-500 text-white text-lg font-medium p-2 rounded inline-block w-full hover:bg-blue-400 transition duration-400 hover:shadow-lg"
                       type="submit" value="Register account">
            </div>
        </form>
        <div class="text-center pb-4">
            <p class="text-grey-dark text-sm">
                <a href="/login" class="no-underline text-blue-500 font-bold"> Sign-in</a>.
            </p>
        </div>
    </div>
</div>
<!--<script type="text/javascript" th:src="@{../js/error_handler.js}"></script>    &lt;!&ndash;</html>&ndash;&gt;-->
<script>
    $('#register').submit(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/register',
            dataType: 'json',
            data: JSON.stringify({
                email: $('#email').val(),
                fullName: $('#fullname').val(),
                password: $('#password').val(),
            }),
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {
                console.log(response)
                window.location = '/login'
            },error: function (xhr, status, error){
                errors = JSON.parse(xhr.responseText)
                errors.forEach(function (err){
                    var errorHTML = '<div class="alert alert-danger" role="alert">' + err + '</div>'
                    console.log(errorHTML)
                    $('#errors-container').html(errorHTML)
                })
            }
        })

    })

</script>
</body>
</html>